.cover-story{
    width : 75%;
    margin : auto;
}

#coverImage {
    height: 400px;
    width: 100%;
    margin: auto;
    display: inline-block;
}

.step {
    display: inline-block;
    float: left;
    width: 31.33%;
    height: 450px;
    border: 1px dotted gray;
    margin: 5px;
    padding: 10px;
}

#display {
    padding: 5px;
    width: 75%;
    margin: auto;
}

.cupcakeImg{
    width: 10%;
}

.step input {
    padding: 10px;
    margin : 5px;
}

